.container-right {
  animation: rightSlideIn 1s ease-in-out alternate;
}

.container-left {
  animation: leftSlideIn 1s ease-in-out alternate;
}

.container-bottom {
  animation: bottomSlideIn 1s ease-in-out alternate;
}

.container:hover .section {
  animation: bounce .5s linear 1;
}

.container_alt {
  grid-column-start: 1;
  grid-column-end: 3;
  max-height: 100vh;
}

@media screen and (max-width: 720px) {
  .container_alt {
    grid-column-end: 2;
    max-height: 135vw;
  }
}