.image {
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 50%;
  background-size: cover;
  margin: auto auto 0 auto;
}

.image_l {
  width: 250px;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .image {
    width: 35vw;
    height: 35vw;
  }
}