.image {
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 50%;
  background-size: contain;
  margin: auto 0 0 0;
}

.image_l {
  width: 250px;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .image {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}