.link {
  text-decoration: none;
  overflow: hidden;
  color: #000;
  transition: filter .3s ease-in-out;
}

.link:hover {
  filter: invert(99%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(100%);
}